.ImagesBlock {
  display: grid;
  max-width: 1200px;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.Image {
  width: 300px;
  margin: 0 auto;
}

@media (min-width: 250px) {
  .ImagesBlock { grid-template-columns: repeat(1, 1fr); }
}

@media (min-width: 650px) {
  .ImagesBlock { grid-template-columns: repeat(2, 1fr); }
}

@media(min-width: 1000px) {
  .ImagesBlock { grid-template-columns: repeat(3, 1fr); }
}

@media(min-width: 1400px) {
  .ImagesBlock { grid-template-columns: repeat(4, 1fr); }
}