.NavigationBlock {
  display: flex;
  margin: 50px auto;
  width: 150px;
}

.Button {
  width: 60px;
  margin: auto;
  border: none;
  padding: 0 15px;
  border-radius: 0.35em;
  font-size: 2em;
  background-color: #051c33;
  color: white;
  outline: none;
  cursor: pointer;
}